@keyframes rotation{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@keyframes arrowbounce{
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-5px);
  }
  100%{
    transform: translateY(0);
  }
}

@keyframes loaderwrapper{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@keyframes loader2{
  0%{
    stroke-dashoffset: 0;
  }
  50%{
    stroke-dashoffset: -58;
  }
  100%{
    stroke-dashoffset: -116;
  }
}

@keyframes coolanimations{
  0%{
    stroke-dashoffset: 0;
  }
  100%{
    stroke-dashoffset: 835;
  }
}

@keyframes coolanimationopacity{
  0%{
    opacity: 0;
  }
  40%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  60%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}
