.site-header{
  transition: 1.5s ease 2s;
  opacity: 1;
  .header-left{
    position: fixed;
    z-index:100;
    float: left;
    top: 20px;
    left:30px;
  }
  .header-right{
    position: fixed;
    z-index:100;
    float: right;
    top: 30px;
    right:30px;
  }
  .brand{
    font-size: 30px;
    font-weight: 300;
  }
  .logo{
    width: 80px;
  }
  .hamburger{
    height: 32px;
    width: 28px;
    position: relative;
    transition: 0.6s;
    transform: rotate(0deg);
    cursor: pointer;
    top: 0;
    right: 0;
    .times{
      position: absolute;
      top: 0px;
      left: 8px;
      font-size: 22px;
      transition: 0.6s;
      transform: scale(0);
    }
    .dash{
      height: 2px;
      width: 50%;
      background-color: $black;
      position: absolute;
      transition: 0.6s;
      &.dash-1{
        top: 5px;
        left: 0;
        transform: rotate(0deg);
        transform-origin: 100% 50%;
      }
      &.dash-2{
        top: 5px;
        right: 0;
        transform: rotate(0deg);
        transform-origin: 0% 50%;
      }
      &.dash-3{
        top: 50%;
        margin-top: -1px;
        left: 0;
        transform: rotate(0deg);
        transform-origin: 50% 50%;
      }
      &.dash-4{
        top: 50%;
        margin-top: -1px;
        right: 0;
        transform: rotate(0deg);
        transform-origin: 50% 50%;
      }
      &.dash-5{
        bottom: 5px;
        left: 0;
        transform: rotate(0deg);
        transform-origin: 100% 50%;
      }
      &.dash-6{
        bottom: 5px;
        right: 0;
        transform: rotate(0deg);
        transform-origin: 0% 50%;
      }
    }
    &.opened{
      transform: rotate(180deg);
      .times{
        transition: 0.6s ease 0.2s;
        transform: scale(1);
        color: #FFF;
      }
      .dash{
        background-color: #FFF;
        &.dash-1{
          top: 1px;
          transform: rotate(-30deg);
        }
        &.dash-2{
          top: 1px;
          transform: rotate(30deg);
        }
        &.dash-3{
          transform: rotate(-90deg) translateY(-5px);
        }
        &.dash-4{
          transform: rotate(90deg) translateY(-5px);
        }
        &.dash-5{
          bottom: 1px;
          transform: rotate(30deg);
        }
        &.dash-6{
          bottom: 1px;
          transform: rotate(-30deg);
        }
      }
    }
  }
}
